/* Hier werden allgemeine Infos wie Farben / Schriften etc. definiert, Funktionen und Variabeln, die man immer wieder braucht

Die jeweiligen Dateien werden hier importiert. */

@import "color";
@import "mixins";
@import "font";